.about-article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2% 2% 9%;
  position: relative;
  z-index: 20;
}

.about-header {
  display: flex;
  color: dodgerblue;
  font-weight: 800;
  text-align: center;
  font-size: clamp(2rem, 5.5vw, 3.8rem);
}

.about-header-caption {
  font-size: clamp(0.9rem, 2.5vw, 2rem);
  letter-spacing: 2px;
  color: yellow;
}

.about-section-description {
    display: flex;
    flex-direction: column;
    padding: 3% 1%;
    align-items: center;
}

p {
  font-size: clamp(0.9rem, 2vw, 1.1rem);
  padding: 1% 3%;
}

hr {
    border: 5px solid dodgerblue;
    margin: 4px 0 20px;
    position: relative;
    border-radius: 0 0 10px 10px;
}

@media (max-width: 850px) {
  .about-header {
    font-size: 2.2rem;
    margin-bottom: 0;
  }

  .about-header-caption {
    letter-spacing: 0.5px;
  }

  p {
    font-size: 1rem;
    margin: 4px;
    font-family: var(--roboto);
  }

}
