.article-container {
  height: 100%;
  width: 100%;
}
.apple-clone-header {
  padding: 2%;
  font-size: 3rem;
  text-shadow: 1px 1px black, 0 0 5px black;
  font-weight: 600;
  text-align: center;
  color: dodgerblue;
}

.apple-clone-images-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.apple-image1 {
  width: 100%;
}

.apple-image2 {
  width: 50%;
}

@media screen and (max-width: 525px) {
  .apple-clone-header {
    font-size: 2.4rem;
  }
}
