
.apple-article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2% 2% 9%;
  position: relative;
  z-index: 20;
} 

.apple-header {
  font-size: clamp(2rem, 5.5vw, 3.8rem);
  color: dodgerblue;
  font-weight: 800;
  text-align: center;
}

.apple-header-caption {
    font-size: clamp(0.8rem, 2.5vw, 1.6rem);
    letter-spacing: 2px;
    margin-bottom: 20px;
}

hr {
  width: 100%;
  border: 5px solid dodgerblue;
  margin: 4px 0;
  position: relative;
}

.apple-section-container {
  width: 100%;
  margin-top: 50px;
}

.apple-section-description {
  padding: 2% 1%;
  font-size: clamp(0.9rem, 2vw, 1.1rem);
}

.apple-section-header {
  letter-spacing: 2px;
  font-size: clamp(1.2rem, 5vw, 2rem);
  background-color: rgba(255, 255, 255, 0.1);
  padding-left: 2%;
  border-radius: 10px 10px 0 0;
}

.apple-page-images {
  width: 100%;
  margin: 30px 0 50px;
  box-shadow: 0 0 14px 4px #fff;
}

.apple-section-sub-header {
  font-size: clamp(1rem, 2vw, 1.2rem);
  justify-self: flex-start;
  font-weight: bold;
  padding: 1% 3%;
}

.apple-section-list-container {
  width: 100%;
  padding: 1% 6%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: clamp(0.9rem, 2vw, 1.1rem);
}

.apple-section-list-container img.apple-page-images:nth-of-type(3) {
  width: 50%;
  align-self: center;
}

code {
  background: #cccaca;
  color: #232323;
  padding: 2px 6px;
  border-radius: 4px;
  font-family: monospace;
}

.apple-license {
  color: rgb(51, 141, 230);
  font-weight: normal;
  transition: transform 0.1s linear;
  text-underline-offset: 5px;
}

.apple-license:hover {
  color: #fff;
  cursor: pointer;
  transform: scale(0.8);
}

@media screen and (max-width: 650px) {

  .apple-header-caption {
    margin-bottom: 8px;
  }

  .apple-sub-section-description {
    padding-bottom: 10px;
  }

  .apple-page-images {
    margin: 20px 0 30px;
  }
}