.battleship-article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 20;
    position: relative;
}

.battleship-article-container .battleship-header {
    font-size: clamp(2rem, 5.5vw, 3.8rem);
    color: dodgerblue;
    font-weight: 900;
    text-align: center;
}

.battleship-header-caption {
    font-size: clamp(0.8rem, 2.5vw, 1.6rem);
    letter-spacing: 2px;
}

.battleship-description-container {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.battleship-description-container p {
    padding: 0.5rem 0 0.5rem;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
}

.battleship-title-image {
    width: 80%;
    justify-self: center;
    margin: 20px 0;
    box-shadow: 0 0 14px 4px #fff;
}

.battleship-section-container, .battleship-description-container {
    padding: 2%;
    width: 100%;
}

.battleship-section-header {
    letter-spacing: 2px;
    font-size: clamp(1.2rem, 5vw, 2rem);
    background-color: rgba(255, 255, 255, 0.1);
    padding-left: 2%;
    border-radius: 10px 10px 0 0;
}

.battleship-section-description-container {
    padding: 0% 2% 2% 2%;
}

.battleship-section-description {
    padding: 1% 2%;
    width: 100%;
}

.battleship-sub-header {
    font-size: clamp(1.1rem, 4vw, 1.4rem);
}

.battleship-list-header {
    justify-self: flex-start;
    font-weight: bold;
    padding: 1% 3%;
}

.battleship-list-container {
    width: 100%;
    padding: 1% 10%;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
}

.battleship-sub-list-container {
    margin-left: 5%;
}

hr {
    border: 5px solid dodgerblue;
    margin: 4px 0;
    position: relative;
    border-radius: 0 0 10px 10px;
}

em {
    display:inline;
}

.battleship-page-images {
    width: 100%;
    margin: 6px 0 50px;
    box-shadow: 0 0 14px 4px #fff;
}

@media screen and (max-width: 650px) {
    .battleship-description-container p {
        margin: 0;
    }
}