.bubblitz-article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 20;
    position: relative;
}

.bubblitz-article-container .bubblitz-header {
    font-size: clamp(1.4rem, 5.5vw, 3.8rem);
    color: dodgerblue;
    font-weight: 900;
    text-align: center;
}

.bubblitz-header-caption {
    font-size: clamp(0.8rem, 2.5vw, 1.6rem);
    letter-spacing: 2px;
}

.bubblitz-description-container {
    margin-left: 10px;
}

.bubblitz-description-container p {
    padding: 0;
}

.bubblitz-section-container, .bubblitz-description-container {
    padding: 2%;
    width: 100%;
}

.bubblitz-section-header {
    letter-spacing: 2px;
    font-size: clamp(1.2rem, 5vw, 2rem);
    background-color: rgba(255, 255, 255, 0.1);
    padding-left: 2%;
    border-radius: 10px 10px 0 0;
}

.bubblitz-section-description-container {
    padding: 0% 2% 2% 2%;
}

.bubblitz-section-description {
    padding: 1% 2%;
    width: 100%;
}

.bubblitz-sub-header {
    font-size: clamp(1.1rem, 4vw, 1.4rem);
}

.bubblitz-list-header {
    justify-self: flex-start;
    font-weight: bold;
    padding: 1% 3%;
}

.bubblitz-list-container {
    width: 100%;
    padding: 1% 10%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.bubblitz-sub-list-container {
    margin-left: 5%;
}

hr {
    border: 5px solid dodgerblue;
    margin: 4px 0;
    position: relative;
    border-radius: 0 0 10px 10px;
}

em {
    display:inline;
}

img {
    margin: 6px 0 20px;
}
