.contact-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-header {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(54, 149, 244);
  text-shadow: 0 0 4px black;
  font-size: 3rem;
}

.line-design {
  padding: 1.5%;
  width: 60%;
  border-top: 2px solid dodgerblue;
}

.sweet-note {
  padding: 0% 0 3%;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  text-align: center;
  text-shadow: 0 0 3px black;
}

.form-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 14;
}

.form-container > label {
  width: 85%;
  font-weight: 400;
  font-size: 1.1rem;
  padding: 0 4% 0.5% 5%;
  color: dodgerblue;
}

.form-container > input {
  padding: 1.5% 3%;
  width: 70%;
  margin-bottom: 3%;
  font-family: var(--montserrat);
}

#message {
  width: 80%;
  padding: 1% 4%;
  height: 10vh;
}

.send-btn {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0.75em 2em;
  border-radius: 20px;
  bottom: 0;
  border: none;
  color: hsla(100, 100%, 100%, 0.8);
  background-color: dodgerblue;
  font-size: 1rem;
  cursor: pointer;
}

.send-btn:hover {
  color: hsla(0, 0%, 0%, 0.9);
  background-color: hsla(100, 100%, 100%, 0.8);
  transform: scale(1.05);
}

.contact-info-container {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  background: hsla(0, 0%, 0%, 0.5);
  padding: 1.5%;
  font-size: 1.1rem;
  font-weight: 300;
  position: absolute;
  bottom: 20px;
  z-index: 20;
}

.email-container,
.tel-container {
  display: flex;
  gap: 10px;
}

.contact-email,
.contact-tel {
  color: dodgerblue;
}

.contact-email-address {
  color: dodgerblue;
  transition: color 0.1s ease;
}

.contact-email-address:hover {
  color: rgb(109, 181, 254);
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .form-container > input {
    padding: 1.5% 3%;
    width: 90%;
    margin-bottom: 5%;
    font-family: var(--montserrat);
  }

  .form-container > label {
    font-weight: 300;
    font-size: clamp(0.9rem, 2.2vw, 1.1rem);
    padding: 0 4% 0.5% 0;
  }

  #message {
    width: 90%;
  }

  .send-btn {
    font-size: 0.9rem;
  }

  .contact-info-container {
    display: grid;
    grid-template-areas:
      "contact contact"
      "email tel";
    gap: 10px;
    font-size: clamp(0.9rem, 2.3vw, 1.2rem);
    font-weight: 300;
  }

  .contact-info {
    grid-area: contact;
  }

  .email-container {
    grid-area: email;
  }

  .tel-container {
    grid-area: tel;
  }
}

@media (max-width: 650px) {
  .contact-header {
    margin: 0 0 10px 0;
    font-size: 1.8rem;
  }

  .sweet-note {
    font-size: 0.9rem;
  }

  .send-btn {
    padding: 0.6rem 1.3rem;
    font-size: 0.8rem;
    margin: 20px 0;
  }

  .contact-info-container {
    bottom: 0px;
  }
}

@media (max-width: 430px) {
  .contact-info-container {
    width: 80%;
    padding: 2% 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
