
.cp24-article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2% 2% 9%;
  position: relative;
  z-index: 20;
} 

.cp24-header {
  font-size: clamp(1.4rem, 5.5vw, 3.8rem);
  color: dodgerblue;
  font-weight: 900;
  text-align: center;
}

.cp24-header-caption {
    font-size: clamp(0.8rem, 2.5vw, 1.6rem);
    letter-spacing: 2px;
    margin-bottom: 20px;
}

hr {
  width: 100%;
  border: 5px solid dodgerblue;
  margin: 4px 0;
  position: relative;
}

.cp24-section-container {
  width: 100%;
  margin-top: 50px;
}

.cp24-section-description {
  padding: 2% 1%;
}

.cp24-section-header {
  letter-spacing: 2px;
  font-size: clamp(1.2rem, 5vw, 2rem);
  background-color: rgba(255, 255, 255, 0.1);
  padding-left: 2%;
  border-radius: 10px 10px 0 0;
}

.cp24-page-images {
  width: 100%;
  margin: 30px 0 50px;
  box-shadow: 0 0 10px 10px white;
}

.cp24-section-sub-header {
  font-size: clamp(1.1rem, 4vw, 1.4rem);
  justify-self: flex-start;
  font-weight: bold;
  padding: 1% 3%;
}

.cp24-section-list-container {
  width: 100%;
  padding: 1% 6%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cp24-section-list {
  font-weight: 200;
}

.cp24-section-sub-list-container {
  margin-left: 10px;
}

.cp24-section-sub-list {
  font-weight: 200;
  margin-top: 10px;
  font-size: clamp(1rem, 3vw, 1.2rem);
}

strong {
  margin-right: 10px;
}

.cp24-license {
  color: rgb(51, 141, 230);
  font-weight: 400;
  transition: transform 0.1s linear;
  text-underline-offset: 5px;
}

.cp24-license:hover {
  color: #fff;
  cursor: pointer;
  transform: scale(0.8);
}

section:first-of-type > ol:first-of-type > li {
  font-weight: 400;
}

em {
  font-weight: normal;
}