.article-container {
  height: 100%;
  width: 100%;
  z-index: 10;
  padding-bottom: 30%;
}
.cp24-header {
  padding: 2%;
  font-size: clamp(1.6rem, 4.5vw, 3.8rem);
  text-shadow: 1px 1px black, 0 0 5px black;
  font-weight: 600;
  text-align: center;
  color: dodgerblue;
}

.cp24-images-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 1% 5%;
  margin: 20px 0;
}

.features-container {
  padding: 3% 5%;
}

.features-container > li {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  font-weight: 200;
}
.cp24-image1 {
  width: 100%;
}

h3 {
  font-weight: 400;
}

@media (max-width: 525px) {
  .cp24-header {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  p {
    font-size: 1rem;
    font-family: var(--roboto);
    font-weight: 400;
  }
}
