* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dm-article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2% 2% 9%;
  position: relative;
  z-index: 20;
} 

.dm-header {
  font-size: clamp(1.8rem, 5.5vw, 3.8rem);
  color: dodgerblue;
  font-weight: 800;
  text-align: center;
}

.dm-header-caption {
    font-size: clamp(0.7rem, 2.5vw, 1.6rem);
    letter-spacing: 2px;
    margin-bottom: 20px;
}

hr {
  width: 100%;
  border: 5px solid dodgerblue;
  margin: 4px 0;
  position: relative;
}

.dm-section-container {
  width: 100%;
  margin-top: 50px;
}

.dm-section-description {
  padding: 2% 5%;
  font-size: clamp(0.9rem, 2vw, 1.1rem);
}

.dm-title-image {
  width: 70%;
  box-shadow: 0 0 14px 4px #fff;
  margin: 30px 0;
}

.dm-section-description-illustration {
  margin-left: 100px;
}

.dm-section-header {
  letter-spacing: 2px;
  font-size: clamp(1.2rem, 5vw, 2rem);
  background-color: rgba(255, 255, 255, 0.1);
  padding-left: 2%;
  border-radius: 10px 10px 0 0;
}

.dm-page-images {
  width: 50%;
  margin: 30px 0 50px;
  box-shadow: 0 0 14px 4px #fff;
}

.dm-section-sub-header {
  font-size: clamp(1.1rem, 4vw, 1.4rem);
  justify-self: flex-start;
  font-weight: bold;
  padding: 1% 3%;
}

.dm-section-list-container {
  width: 100%;
  padding: 1% 6%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.dm-section-list, .dm-sub-section-list {
  font-size: clamp(0.9rem, 2vw, 1.1rem);
}

.dm-section-list-container img.dm-page-images:nth-of-type(3) {
  width: 50%;
  align-self: center;
}

code {
  background: #cccaca;
  color: #232323;
  padding: 2px 6px;
  border-radius: 4px;
  font-family: monospace;
  font-size: clamp(0.6rem, 1vw, 1rem);
}

.dm-sub-section-list-container {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.dm-sub-section-header {
  font-size: clamp(1rem, 2vw, 1.2rem);
}

.dm-license {
  color: rgb(51, 141, 230);
  transition: transform 0.1s linear;
  text-underline-offset: 5px;
}

.dm-license:hover {
  color: #fff;
  cursor: pointer;
  transform: scale(0.8);
}

@media screen and (max-width: 650px) {
  .dm-header-caption {
    letter-spacing: 0;
    margin-bottom: 8px;
  }

  .dm-section-container {

  }

  .dm-section-description {
    margin: 0;
  }

  .dm-section-list-container {
    margin-left: 30px;
    padding: 0;
  }

  .dm-sub-section-description {
    padding: 0;
  }

  .dm-sub-section-list-container {
    padding: 0;
  }

  .dm-sub-section-list-description {
    padding: 0;
    margin: 0;
  }

  .dm-sub-sub-section-list-container {
    margin-left: 20px;
  }

  .dm-page-images {
    margin-left: 0px;
  }
}