.mm-article-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 20;
  padding: 2% 2% 9%;
}

.mm-header {
  font-size: clamp(1.8rem, 5.5vw, 3.8rem);
  font-weight: 900;
  text-align: center;
  color: dodgerblue;
}

.mm-header-caption {
  font-size: clamp(0.8rem, 2vw, 1.4rem);
  /* letter-spacing: 2px; */
  margin-bottom: 20px;
}

.mm-article-container p {
  padding: 1% 3%;
  margin-bottom: 30px;
  font-size: clamp(0.9rem, 2vw, 1.1rem);
}

.mm-title-image {
  width: 70%;
  box-shadow: 0 0 14px 4px white;
  margin-bottom: 30px;
}

.mm-section-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mm-section-header {
  font-size: clamp(1.1rem, 2.5vw, 1.5rem);
  font-weight: 500;
}

.mm-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mm-list-container > li {
  font-size: clamp(1rem, 2.2vw, 1.5rem);
  margin: 20px 0 20px 20px;
  color: rgb(133, 246, 133);
  font-weight: bold;
}

.mm-page-images {
  width: 80%;
  box-shadow: 0 0 14px 4px white;
  margin: 20px 0;
}

.how-to-instruction-container {
  align-self: center;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: clamp(0.9rem, 2vw, 1.2rem);
}

.how-to-instruction {
  margin: 30px 0 10px 10px;
  padding: 0;
  font-weight: 400;
  color: rgb(133, 246, 133);
}

.how-to-instruction-list-container {
  margin-left: clamp(0px, 1vw, 50px);
  display: flex;
  flex-direction: column;
}

.how-to-instruction-list {
  margin-top: 5px;
}

.how-to-instruction-list > em {
  color: rgb(133, 246, 133);
}

.sub-list-container {
  margin: 10px 0 20px 30px;
}

.sub-list-container > li {
  list-style-type: circle;
  margin-bottom: 4px;
}

.sub-list-container > li > em {
  color: rgb(133, 246, 133);
  font-weight: 300;
}

.sub-list-container > li::marker, .how-to-instruction-list > li::marker {
  color: rgb(133, 246, 133);
}

.sub-list-container > li > span {
  margin-left: 10px;
}

@media screen and (max-width: 650px) {
  .mm-header-caption {
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.mm-title-image {
  margin: 0 0 10px 0;
}

.mm-list-container > p {
  margin-bottom: 10px;
  padding: 0;
}

.sub-list-container {
  padding: 0;
  margin-bottom: 0px;
}

  .article-container p {
    padding-bottom: 6px;
  }
}