.mm-article-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 20;
  padding: 2% 2% 9%;
}

.mm-header {
  font-size: clamp(1.4rem, 5.5vw, 3.8rem);
  font-weight: 900;
  text-align: center;
  color: dodgerblue;
}

.mm-header-caption {
  font-size: clamp(0.8rem, 2.5vw, 1.6rem);
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.mm-section-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mm-section-header {
  font-size: clamp(1.1rem, 2.5vw, 1.5rem);
  font-weight: 500;
}

.mm-list-container > li {
  font-size: clamp(1rem, 2.2vw, 1.2rem);
  margin: 20px 0 10px 20px;
  color: rgb(133, 246, 133);
}

/* .mm-list > img {
  width: 100%;
} */

.mm-page-images {
  width: 100%;
}

.how-to-instruction-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.how-to-instruction {
  margin: 30px 0 10px 10px;
  padding: 0;
  font-weight: 400;
  color: rgb(133, 246, 133);
}

.how-to-instruction-list-container {
  margin-left: 30px;
}

.how-to-instruction-list {
  margin-top: 5px;
}

.how-to-instruction-list > em {
  color: rgb(133, 246, 133);
}

.how-to-instruction-list > span {
  font-weight: 100;
}
.sub-list-container {
  margin: 10px 0 20px 30px;
}

.sub-list-container > li {
  list-style-type: circle;
  margin-bottom: 4px;
  font-weight: 100;
}

.sub-list-container > li > em {
  color: rgb(133, 246, 133);
  font-weight: 300;
}

.sub-list-container > li::marker, .how-to-instruction-list > li::marker {
  color: rgb(133, 246, 133);
}

.sub-list-container > li > span {
  margin-left: 10px;
}

@media screen and (max-width: 650px) {
  .article-container p {
    padding-bottom: 6px;
  }
}