.article-container {
  height: 100%;
  width: 100%;
  z-index: 10;
  padding-bottom: 30%;
}

.nba-header {
  padding: 2%;
  font-size: clamp(1.6rem, 4.5vw, 3.8rem);
  text-shadow: 1px 1px black, 0 0 5px black;
  font-weight: 600;
  text-align: center;
  color: dodgerblue;
}

.nba-images-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 1% 5%;
}

.nba-image1,
.nba-image2 {
  width: 100%;
  font-size: clamp(0.9rem, 1.7vw, 1rem);
}

@media (max-width: 525px) {
  .nba-header {
    font-size: 2rem;
  }
}
