.nba-article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2% 2% 9%;
  position: relative;
  z-index: 20;
} 

.nba-header {
  font-size: clamp(1.3rem, 3vw, 2.8rem);
  color: dodgerblue;
  font-weight: 800;
  text-align: center;
}

.nba-header-caption {
    font-size: clamp(0.8rem, 2.5vw, 1.6rem);
    letter-spacing: 2px;
    margin-bottom: 20px;
}

hr {
  width: 100%;
  border: 5px solid dodgerblue;
  margin: 4px 0;
  position: relative;
}

.nba-section-container {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.nba-section-description {
  padding: 2% 3%;
  margin: 0;
  font-size: clamp(0.9rem, 2vw, 1.1rem);
}

.nba-section-header {
  letter-spacing: 2px;
  font-size: clamp(1.2rem, 5vw, 2rem);
  background-color: rgba(255, 255, 255, 0.1);
  padding-left: 3%;
  border-radius: 10px 10px 0 0;
}

.nba-page-images {
  width: 80%;
  margin: 30px 0 50px;
  box-shadow: 0 0 14px 4px #fff;
  align-self: center;
}


.nba-section-list-container {
  width: 100%;
  padding: 1% 6%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: clamp(0.9rem, 2vw, 1.1rem);
}

code {
  width: 100%;
  background: #cccaca;
  font-size: clamp(0.7rem, 1.8vw, 1rem);
  color: #232323;
  padding: 2px 6px;
  border-radius: 4px;
  font-family: monospace;
}

.nba-link {
  color: rgb(51, 141, 230);
  font-weight: 400;
  transition: transform 0.1s linear;
  text-underline-offset: 5px;
}

.nba-link:hover {
  color: #fff;
  cursor: pointer;
  transform: scale(0.8);
}

@media screen and (max-width: 650px) {
  .nba-header-caption {
    margin-bottom: 8px;
  }

  .nba-page-images {
    margin: 30px;
  }
  
  .nba-section-container {
    margin-top: 30px;
  }
}