.resume-article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 20;
  justify-content: flex-start;
  /* width: 100%; */
  height: 100%;
  position: relative;
}

.resume-iframe {
  position: relative;
  width: 100%;
  height: 100%;
}

.resume-link-container {
  position: sticky;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  padding: 3% 0;
  background-color: hsla(0, 0%, 0%, 0.5);
  z-index: 25;
}

.resume-link {
  color: hsla(100, 100%, 100%, 0.7);
  padding: 2% 4%;
  width: clamp(180px, 15vw, 250px);
  height: 24px;
  border-radius: 20px;
  background: hsla(210, 100%, 56%, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--montserrat);
  font-size: clamp(0.9rem, 2vw, 1.2rem);
  transition: color 0.35s ease;
}

.resume-link:hover {
  cursor: pointer;
  background: hsla(100, 100%, 100%, 0.7);
  color: hsla(0, 0%, 0%, 0.85);
}
