.rpsls-article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 20;
    position: relative;
}

.rpsls-article-container .rpsls-header {
    font-size: clamp(1.4rem, 5.5vw, 3.5rem);
    color: dodgerblue;
    font-weight: 800;
    text-align: center;
}

.rpsls-header-caption {
    font-size: clamp(0.7rem, 2.5vw, 1.6rem);
    letter-spacing: 2px;
}

.rpsls-description-container {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.rpsls-description-container p {
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    padding: 0;
}

.rpsls-title-image {
    width: 80%;
    justify-self: center;
    margin: 30px 0;
    box-shadow: 0 0 14px 4px #fff;
}

.rpsls-section-container, .rpsls-description-container {
    padding: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.rpsls-section-header {
    letter-spacing: 2px;
    font-size: clamp(1.2rem, 5vw, 1.8rem);
    background-color: rgba(255, 255, 255, 0.1);
    padding-left: 2%;
    border-radius: 10px 10px 0 0;
}

.rpsls-section-description-container {
    padding: 0% 2% 2% 2%;
}

.rpsls-section-description {
    padding: 1% 2%;
    width: 100%;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
}

.rpsls-sub-header {
    font-size: clamp(1.1rem, 4vw, 1.4rem);
}

.rpsls-list-header {
    justify-self: flex-start;
    font-weight: bold;
    padding: 1% 3%;
}

.rpsls-list-container {
    width: 100%;
    padding: 1% 10%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.rpsls-list-container > li {
    margin-bottom: 10px;
    font-size: clamp(1rem, 2vw, 1.2rem);
}

.rpsls-sub-list-container {
    margin-left: 5%;
}

hr {
    border: 5px solid dodgerblue;
    margin: 4px 0;
    position: relative;
    border-radius: 0 0 10px 10px;
}

em {
    display:inline;
    font-weight: bold;
}

.rpsls-page-images {
    width: 80%;
    margin: 30px 0 10px;
    box-shadow: 0 0 14px 4px #fff;
}

.rpsls-auth-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rpsls-auth-images > .rpsls-page-image {
  width: 50%;
}

@media screen and (max-width: 650px) {
  .rpsls-header-caption {
    letter-spacing: 2px;
  }

  .rpsls-title-image {
    margin: 20px 0;
  }

  .rpsls-list-container {
    gap: 0;
  }
}