.silya-article-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 20;
}

.silya-header {
  font-size: clamp(1.4rem, 5.5vw, 3.8rem);
  color: dodgerblue;
  font-weight: 900;
  text-align: center;
}

.silya-header-caption {
  font-size: clamp(0.8rem, 2.5vw, 1.6rem);
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.silya-section-container {
  width: 100%;
  margin-top: 50px;
}

hr {
  margin-bottom: 14px;
}

.silya-section-description {
  font-size: clamp(1.1rem, 3.4vw, 1.4rem);
  padding: 0.5% 6%;
  font-weight: 300;
}

.silya-project-description {
  padding: 1%;
}

.silya-section-header {
  letter-spacing: 2px;
  font-size: clamp(1.2rem, 5vw, 2rem);
  background-color: rgba(255, 255, 255, 0.1);
  padding-left: 2%;
  border-radius: 10px 10px 0 0;
}

.silya-page-images {
  width: 100%;
  margin: 30px 0 20px;
  box-shadow: 0 0 10px 10px white;
}

.silya-section-list-container {
  width: 100%;
  padding: 1% 6%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.silya-section-list {
  margin-left: 30px;
}

.silya-section-list-container strong {
  margin-right: 10px;
}

.silya-list-links {
  margin-left: 30px;
}

.silya-list-links a {
  font-weight: 200;
  color: rgb(51, 141, 230);
  /* transition: transform 0.1s linear; */
  text-underline-offset: 5px;
  font-size: clamp(1rem, 3vw, 1.2rem);
}


.silya-list-links a:hover {
  color: #fff;
  cursor: pointer;
  font-weight: normal;
}

.silya-section-list {
  font-weight: 200;
  font-size: clamp(1rem, 3vw, 1.2rem);
}

.silya-image-description {
  margin: 0;
  font-size: clamp(0.9rem, 2vw, 1rem);
  font-weight: 200;
  padding: 0 0 40px 10px;
}