
.wb-article-container {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: flex-start;
  position: relative;
  z-index: 20;
}

.wb-header {
  font-size: clamp(1.4rem, 5.5vw, 3.8rem);
  color: dodgerblue;
  font-weight: 900;
  text-align: center;
}

.wb-header-caption {
    font-size: clamp(0.8rem, 2.5vw, 1.6rem);
    letter-spacing: 2px;
    margin-bottom: 20px;
}

hr {
  width: 100%;
  border: 5px solid dodgerblue;
  margin: 4px 0;
  position: relative;
}

.wb-section-container {
  width: 100%;
  margin-top: 50px;
}

.wb-section-description {
  padding: 2% 1%;
}

.wb-article-container img.wb-page-images:nth-of-type(1) {
  width: 90%;
}

.wb-section-header {
  letter-spacing: 2px;
  font-size: clamp(1.2rem, 5vw, 2rem);
  background-color: rgba(255, 255, 255, 0.1);
  padding-left: 2%;
  border-radius: 10px 10px 0 0;
}

.wb-page-images {
  width: 100%;
  margin: 30px 0 50px;
  box-shadow: 0 0 10px 10px white;
}


.wb-section-sub-header {
  font-size: clamp(1.1rem, 4vw, 1.4rem);
  justify-self: flex-start;
  font-weight: bold;
  padding: 1% 3%;
}

.wb-section-list-container {
  width: 100%;
  padding: 1% 6%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.wb-section-list {
  font-weight: 200;
}

.wb-section-list-container img.wb-page-images:nth-of-type(2) {
  width: 50%;
  align-self: center;
}

code {
  background: #a4a2a2;
  color: #232323;
  padding: 2px 6px;
  border-radius: 4px;
  font-family: monospace;
}

.wb-license {
  color: rgb(51, 141, 230);
  font-weight: 400;
  transform: scale(0.8);
  text-underline-offset: 5px;
}

.wb-license:hover {
  color: #fff;
  cursor: pointer;
}

