.article-container {
  height: 100%;
  width: 100%;
}

.worldbank-clone-header {
  padding: 2%;
  font-size: 3rem;
  text-shadow: 1px 1px black, 0 0 5px black;
  font-weight: 600;
  text-align: center;
  color: dodgerblue;
}

.worldbank-clone-images-container {
  width: 100%;
  gap: 10px;
  display: flex;
  justify-content: center;
}

.worldbank-image1 {
  width: 100%;
}

.worldbank-image2 {
  width: 50%;
}

@media screen and (max-width: 525px) {
  .worldbank-clone-header {
    font-size: 2.4rem;
  }

  p {
    color: white;
    font-family: var(--roboto);
    font-weight: 400;
  }
}
