:root {
  --lato: "Lato", sans-serif;
  --montserrat: "Montserrat", sans-serif;
  --roboto: "Roboto", sans-serif;
  --rubik: "Rubik", sans-serif;
  /* --side-color: rgba(241, 167, 132, 0.3); */
  --side-color: rgba(30, 144, 255, 0.5);
  --side-text-color: rgb(251, 241, 241);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100svh;
}

.background-container {
  position: relative;
  padding-top: 50%;
}

@media screen and (max-width: 1670px) {
  .background-container {
    padding-top: 58%;
  }
}

@media screen and (max-width: 525px) {
  .main-container {
    width: 100vw;
    height: 100vh;
  }

  .background-container {
    position: fixed;
    top: 0;
    left: 0;
  }
}
